<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @model List<User>

    <h2>Here are some names!</h2>
    @foreach(var user in Model){
        <p>@user.FirstName</p>
        <p>@user.LastName</p>
    }


    
</body>
</html>
