<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
    <label>Your Name:</label>
    <input type="text" name="name">
    <label>House:</label>
    <select name="house">
        <option value="Gryffindor">Gryffindor</option>
        <option value="Ravenclaw">Ravenclaw</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>

    </select>
    <label>Current Year:</label>
    <input type="number" name="currentYear">
    <button>Submit</button>
</form>


</body>
</html>