@using randomPass.Models
@model Dachi

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div>
    <h3>Fullness: @Model.Fullness</h3>
    <h3>Happiness: @Model.Happiness</h3>
    <h3>Energy: @Model.Energy</h3>
    <h3>Meals Left: @Model.Meals</h3>
</div>
<div>
    <button onclick="location.href='/feed'" role="link" data-href="/">Feed</button>
    <button onclick="location.href='/play'" role="link" data-href="/">Play</button>
    <button onclick="location.href='/'" role="link" data-href="/">SleepInn</button>
    <button onclick="location.href='/'" role="link" data-href="/">Work</button>
                <button onclick="location.href='/'" role="link" data-href="/">Go back to books</button>

</div>


</div>
