<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Home | <a href="/projects"> Projects</a> | <a href="/contact">Contact</a> </h2>
    <h1>About Me</h1>
    <main>
        <div>
            <img src="~/img/SBP.jpeg" alt="Simon's profile pic">

            <h4>Simon van Tulder</h4>
            <h4>I love my Faith</h4>
        </div>
        <div class="about">
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem reiciendis sequi tempora, dignissimos earum adipisci? Iure culpa at a facilis, ipsum architecto error, quae obcaecati rerum dolorem explicabo. Earum, sunt quo?
            </p>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est laboriosam inventore, illum voluptate necessitatibus, eveniet sapiente odit nihil dolor eius vel nulla.
            </p>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est laboriosam inventore, illum voluptate necessitatibus, eveniet sapiente odit nihil dolor eius vel nulla.
            </p>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est laboriosam inventore, illum voluptate necessitatibus, eveniet sapiente odit nihil dolor eius vel nulla.
            </p>
        </div>
    </main>
</body>



</html>