<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h2><a href="/home"> Home</a> | <a href="/projects"> Projects</a> | <a href="/contact">Contact</a> </h2>

    <h1>What time is it</h1>

    <div>
            <h3>@ViewBag.Date</h3>
            <h3>@ViewBag.Time</h3>
            <h3>@ViewBag.MilitaryTime</h3>
    </div>
    @* <form action="method" method="post">
        <input type="text" name="TextField"/>
        <input type="number" name="NumberField"/>
        <button type="submit">Submit</button>
    </form> *@
</body>



</html>